.profile {
  background-color: white;
  padding: 2rem;
  border-radius: 30px;
  border-color: black;
  border-style: solid;
  border-width: 0.0625rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .artistName {
    color: black;
    font-size: 2.5rem; 
    margin-bottom: 1rem;
    text-align: left;
    font-family: "Unbounded", sans-serif;
    font-size: 2.5rem;
    letter-spacing: -0.03125rem;
    font-weight: 400;
    position: relative;
    flex: 0.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: normal;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
    @media (max-width: 580px) {
      font-size: 1.25rem;
    }
  }
  > div:not(.artistName) {
    margin-bottom: 1rem;  // Espace entre les paragraphes
  }

  .content {
    display: flex;
    gap: 20rem;

    @media (max-width: 1800px) {
      gap: 15rem; 
    }

    @media (max-width: 1500px) {
      gap: 10rem; 
    }

    @media (max-width: 1300px) {
      gap: 8rem; 
    }

    @media (max-width: 1200px) {
      gap: 6rem; 
    }

    // @media (min-width: 1340px) {
    //   flex-direction: row;
    // }

    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 2rem; 
    }

    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem; 
      

      p {
        margin-bottom: 1rem;
      }
      color: var(--color-5, black);
      text-align: left;
      font-family: var(--heading-text-paragraphe-font-family, "Montserrat", sans-serif);
      font-size: var(--heading-text-paragraphe-font-size, 1rem);
      font-weight: var(--heading-text-paragraphe-font-weight, 400);
      // position: relative;
      // align-self: stretch;
    }

    .images {
      flex-shrink: 0; 
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1340px) {
        width: 300px;
        margin-top: 20px;
        
      }
      @media (max-width: 1100px) {
        width: 250px;
        margin-top: 20px;  
      }

      @media (max-width: 1000px) {
        flex-direction: row;
        width: 100%;
        margin-top: 20px;  
      }

      .artistPhoto {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        border-radius: 50%; // Ajustez le rayon selon vos préférences
        overflow: hidden;
        @media (max-width: 768px) {
          width: 80%;
          height: 80%;
        }
      }

      .artistArtwork {
        width: 300px;
        height: 300px;
        border-radius: 15px; // Ajustez le rayon selon vos préférences
        overflow: hidden;
        @media (max-width: 768px) {
          width: 80%;
          height: 80%;
        }
      }
    }
  }
}

.contentBackground {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}

.content {
  color: white;
}
